.DS_Store
.idea
.fleet
.vscode
.cursor
.editorconfig
.nuxt
nuxt.d.ts
.output
.data
.nuxtrc
.npmrc
.eslintcache
node_modules
dist
.wrangler
worker-configuration.d.ts
.drizzle
.env
.env.*
!.env.example
*.log
*.sql